body{
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
	
}
.wrapper{
	margin-top:70px;
	
}
.search {
  width: 50%;
  position: relative;
  display: inline-flex;
  text-align:center;
}

.searchTerm {
  width: 100%;
  border:none;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
 
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 60px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.results{
	width:800px;
	margin-left:350px;
}
.wrapper h1{
	font-size: 48px;
	text-align:center;
}
.wrapper p{
	font-size: 13px;
}
.wrapper a{
	text-decoration:none;
}
.header-wrapper{
	align-items: center;
	text-align: center;
}
.searchresultsfor{
	align-items: center;
	text-align: center;
}